html,body{height: 100%;}

body{
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
}

.header {
     background-color: #F1F1F1;
     z-index: 100;
     margin: 0;
     padding : 0;
     width: 100vw;
     position: fixed;
     border-bottom: 1px;
     border-bottom-style: solid;
     border-bottom-color: grey;
     
}

.header__logo {
    display: block;
    float: left;
    text-decoration: none;
    
}


.header__menu{
  
    margin: 0;
    padding: 15px;
    float: right;  
}

.header__menu__item{
    display: inline-block;
    
}

.header__menu__item a{
   
    font-style: italic;
    text-decoration: none;
    display: block;
    padding: 1em;
    padding-bottom: 2em;
    color: black;
}

.header__menu__item a:hover{ 
    color: lightsteelblue;
}


.contenuto{
    position: relative;
    background-image:  url("../UTILS/contenuto_background.jpg");
    opacity: 0.5;
    height: 100%;
    background-size: cover;
   -moz-background-size: cover;
    background-position: center center;
}


.contenuto_slider{
    
    border: 1px solid red;
    width: 100%;
    height: 50%;
    position: absolute;
}




 .footer{
    
     height: 11%;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: #F1F1F1;
     border-top: 0.5px solid gray;
    }
    
    
    .footer__menu{
    margin: 0;  
    padding: 0;
        
    }
    
   .footer__menu__item {
    display: inline-block;
    
   }
    .footer__menu__item a {
    text-decoration: none;
    display: block;
    padding: 2vw;
    color: black;
    
    }
  
    .footer__menu__item a:hover{ 
    color: lightsteelblue;
}

