html,body{height: 100%;width: 100%;padding: 0;margin: 0;}


/* ---------------------------- BODY ---------------------------------  */


body{background-color: #F1F1F1;}


/* ---------------------------- HEADER ---------------------------------  */
.header {
     float: left;
     background-color: #F1F1F1;
     margin: 0;
     padding : 0;
     width: 100%;
     /*position: fixed;*/
     border-bottom: 0.5px;
     border-bottom-style: solid;
     border-bottom-color: grey;
     
}

.header__logo {display: block; float: left;text-decoration: none;}

.header__menu{margin: 0;padding: 15px;float: right;}

.header__menu__item{display: inline-block;}

.header__menu__item a{font-style: italic;text-decoration: none;display: block;padding: 1em;padding-bottom: 2em;color: black;}

.header__menu__item a:hover{ color: lightsteelblue;}

/* ---------------------------- COVER ---------------------------------  */
.cover{
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    height: 100%;
    background-size: cover;
   /* !!!!!! IMMAGINE DI BACKGROUND
   background-image: url("../UTILS/contenuto_background.jpg");
    background-size: cover;
   -moz-background-size: cover;
    background-position: center center; 
    */
    box-sizing: border-box;
    /*margin-top: 2vw;*/
   
    }
 

/* ---------------------------- FOOTER ---------------------------------  */
 .footer{
     clear: both;
     width: 100%;
     background-color: #F1F1F1;
     border-top: 0.5px solid gray;
    }
   
    .footer__menu{width: 50%;margin: auto;}
    
   .footer__menu__item {margin: auto;display: inline-block;}
    
   .footer__menu__item a {text-decoration: none;display: block;padding: 2vw;color: black;}
  
   .footer__menu__item a:hover{color: lightsteelblue;}

