html,body{height: 100%;}

body { 
    
    background-image: url('../utils/img1.jpg');
    
}

.header {
     width: 98vw;
     position: fixed;
     margin: 0;
     padding: 0;
     border-bottom: 0.5px;
     border-bottom-style: solid;
     border-bottom-color: grey;
}

.header__logo {
    position: absolute;
    float: left;
    margin-top: 0.1em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    
}

.header__logo__img{
    width: 50px;
    height: 50px;
}

.header__menu{
    position: relative;
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;
    
}

.header__menu__item,.footer__menu__item {
    display: inline-block;
    
}

.header__menu__item a{
    font-style: italic;
    text-decoration: none;
    display: block;
    padding: 1em;
    padding-bottom: 2em;
    color: black;
}

.header__menu__item a:hover{ 
    color: lightsteelblue;
}


.contenuto{
    width: 100%;
    clear: left;
    display: inline;
}


 .footer{
     
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100vw;
     border-top: 0.5px;
     border-top-style: solid;
     border-top-color: grey;
    }
    
    
    .footer__menu{
    margin: 0;  
    padding: 0;
        
    }
    
   
    .footer__menu__item a {
    text-decoration: none;
    display: block;
    padding: 2vw;
    color: black;
    
    }
  
    .footer__menu__item a:hover{ 
    color: lightsteelblue;
}
